body {
  background-color: #f6f6f6;
}

.mob {
  display: flex;
  margin: 20px 0;
  justify-content: center;
  align-items: center;
}

.mob-hidden {
  opacity: 1;
}

@media (max-width: 768px) {
  #title {
    font-size: 2rem;
  }

  .mob {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    justify-content: center;
    align-items: center;
  }

  .mob-hidden {
    opacity: 0;
  }
}